<ion-header>
  <ion-toolbar class="container-div">
    <ion-title style="color: white;">Unvired REST Sample</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content class="container-div" class="ion-padding">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title style="color: white;">Unvired REST Sample</ion-title>
    </ion-toolbar> 
  </ion-header> -->
  <ion-input type="text" placeholder="City" [(ngModel)]="cityName" autocapitalize="off"></ion-input>
  <ion-button (click)="getweather()" expand="block">Get Weather</ion-button>
  <ion-list *ngIf="showWeatherInfo" class="info-div">
    <ion-item>
      <ion-label class="label">Description</ion-label>
      <ion-label class="value">{{weatherHeraderObj.WEATHER_DESC}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label">Temperature</ion-label>
    <ion-label class="value">{{weatherHeraderObj.TEMPERATURE}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="label">Humidity</ion-label>
      <ion-label class="value">{{weatherHeraderObj.HUMIDITY}}</ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
